<!DOCTYPE html>
<html lang="<%= site.lang || 'ko' %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="<%= page.description || site.description %>" />
    <meta name="author" content="<%= page.author || site.author %>" />
    <% if (page.tags) { %>
    <meta name="keywords" content="<%= page.tags.join(',') %>" />
    <% } %>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= page.title || site.title %>" />
    <meta property="og:description" content="<%= page.description || site.description %>" />
    <meta property="og:url" content="<%= site.url %><%= page.url %>" />
    <meta property="og:site_name" content="<%= site.title %>" />
    <meta property="og:image" content="<%= page.image || site.image %>" />
    <% if (site.facebook_app_id) { %>
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <% } %>
    <meta name="twitter:card" content="summary" />
    <% if (site.twitter_username) { %>
    <meta name="twitter:site" content="@<%= site.twitter_username %>" />
    <% } %>
    <meta name="twitter:title" content="<%= page.title || site.title %>" />
    <meta name="twitter:description" content="<%= page.description || site.description %>" />
    <meta name="twitter:url" content="<%= site.url %><%= page.url %>" />
    <meta name="twitter:image:src" content="<%= page.image || site.image %>" />
    <% if (site.google_site_verification) { %>
    <meta name="google-site-verification" content="<%= site.google_site_verification %>" />
    <% } %>
    <link rel="canonical" href="<%= page.url || site.url %>" />
    <link rel="alternate" type="application/rss+xml" href="<%= site.url %>/rss" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/scripts.js" defer></script>
    <title><%= page.title || 'Home' %> - <%= site.title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js" integrity="sha512-6yoqbrcLAHDWAdQmiRlHG4+m0g/CT/V9AGyxabG8j7Jk8j3r3K6due7oqpiRMZqcYe9WM2gPcaNNxnl2ux+3tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
      src="https://giscus.app/client.js"
      data-repo="iolo/iolo.github.io"
      data-repo-id="R_kgDOH6UEWg"
      data-category="giscus"
      data-category-id="DIC_kwDOH6UEWs4CV5Qw"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="ko"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </head>
  <body>
    <header>
      <h1><a href="/" class="nolink">Quest of Iolo</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main><%- include(page.layout + '.ejs') -%></main>
    <aside>
      <input id="themeCheck" type="checkbox">
    </aside>
    <footer>
      <small>&copy; 1973-2025 IoloTheBard. All rights reserved.</small>
    </footer>
    <script>hljs.configure({languages:[]});hljs.highlightAll();</script>
  </body>
</html>
