<article>
  <header>
    <h2><%= page.title %></h2>
    <time datetime="<%= page.date.toISOString() %>" pubdate><%= page.date.toLocaleString() %></time>
    <% if (page.author) { %><address><a rel="author" href="/about"><%= page.author %></a></address><% } %>
    <% if (page.tags) { %><dl><dt>tags</dt><% for (const tag of page.tags) { %><dd><%= tag %></dd><% } %></dl><% } %>
  </header>
  <section class="post-content">
  <%- page.main %>
  </section>
  <footer>
    <!-- todo: social share links -->
    <div class="giscus"></div>
  </footer>
</article>
